body {background-color: #FFFFFF;
    }

p, ol {color: #405E7C;
    }

h1, h2 {color: #457c80;
    }


a {color: #bf634f;
    }


table {border-collapse: collapse;
    }


th, td {border: 1px solid #333333;
    padding: 2px;
    }

caption {padding: 15px;
    }

nav {background-color: #545454;
    }

nav a {color: #FFFFFF;
    }

nav a:hover {background-color: #4E558F;
    }

nav {padding: 10px;
    margin: -10px;
    text-align: center;
    }

.span {
    color: #FFFFFF;
}    

.heading {float: right;
    margin: 200px;
    padding: 50px;
}

.headimage {padding-top: 20px;
    max-width: 100%;
}


.quote {float: right;
    margin: 0px;
    }

.first {display: flex;
        background-color: #d0afaf;
        border-radius: 3em;
        padding: 20px;
        margin-left: 50px;
        margin-right: 50px;
}

.second {display: flex;
    margin-top: 50px;
    background-color: #d0a4a4;
    border-radius: 3em;
    padding: 20px;
    /*margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;*/
    flex-wrap: wrap;
}

.email{margin-left: 100px;
}


.email a {
    color: #090D10;
}

/*.address p, h2 {
    color: #090D10;
}*/

.sheet input {
    color: #131E25;
}
.sheet {display: flex;
    /*margin-left: 50px;
    margin-right: 50px;*/ 
    padding-left: 40px; 
    
}


.location {display: flex;
    order: 2;
}





.skillsh1 {font-size: 50px;
    text-align: center;
    margin: 40px;
}

.skillsp1 {text-align: center;
}

.img1, .img2, .img3, .img4, .img5 {width: 70px;
}

.skills {display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 40px;
    padding-left: 350px;
}


aside {border-radius: 4em;
    background-color: #FFDFDF;
    padding: 20px;
}

.flexbox2 {display: flex;
    justify-content: space-between;
    
}

.skip {
    background-color: #FFDFDF;
    padding: 8px;
    border: 2px solid #000000;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: -999px; 
}

.skip:focus { 
    left: 10px; 
}

@media only screen and (max-width: 800px) {
    nav {max-width: 150px;
    }
    nav a {max-width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    span {display: none;
    }
    textarea {width: 300px;
        height: 150px;
    }
}







